body{
    background-color: pink;
    color: olivedrab;
}
#container{
    position: relative;
    width: 600px;
    height: 450px;
    overflow: hidden;
}
#list{
    position: absolute;
    width: 4200px;
    height: 450px;
    z-index: 1;
}
#list img{
    float: left;
    width:600px;
    height:450px;
}
#buttons{
    position: absolute;
    height: 10px;
    width: 100px;
    left: 250px;
    bottom: 20px;
    z-index: 2;
}
#buttons span{
    float: left;
    margin-right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #444;
}
#buttons .on{
    background:red;
}
.arrow{
    position: absolute;
    display: none;
    height: 50px;
    width: 50px;
    top: 200px;
    font-size: 40px;
    text-align: center;
    z-index: 2;
    color: #fff;
    background-color: rgba(0,0,0, 0.3);
}
.arrow:hover{
    background-color: rgba(0,0,0,0.7);
}
#container:hover .arrow{
    display: block;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}